.DS_STORE
frontend/node_modules
*/.idea
*/*.iml
*/.vscode
*/*.swp
*/*.swo

frontend/packages/react-devtools-core/dist
frontend/packages/react-devtools-extensions/chrome/build
frontend/packages/react-devtools-extensions/chrome/*.crx
frontend/packages/react-devtools-extensions/chrome/*.pem
frontend/packages/react-devtools-extensions/firefox/build
frontend/packages/react-devtools-extensions/firefox/*.xpi
frontend/packages/react-devtools-extensions/firefox/*.pem
frontend/packages/react-devtools-extensions/shared/build
frontend/packages/react-devtools-extensions/.tempUserDataDir
frontend/packages/react-devtools-inline/dist
frontend/packages/react-devtools-shell/dist
frontend/packages/react-devtools-timeline/dist
