* {
  font-family: Roboto;
}

/*
    Reusable styles
 */

.bottom-spaced {
  margin-bottom: 1em;
}

.centered {
  margin: auto;
}

/*
    Navigation styles
 */

.Navigation {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #de354c;
  border-bottom: 1px #ccc solid;
  font-size: 1em;
}

.Navigation-Content {
  margin: 0 auto;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  justify-content: space-between;
  width: 75%;
  min-width: 350px;
  max-width: 800px;
}

.Navigation-Link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1.5em;
  padding: 10px 0.5em 10px 0;
}

.Navigation p {
  color: #ddd;
  font-size: 0.75em;
}

.Navigation-Button-Area {
  align-content: center;
  justify-content: center;
  padding-top: 0.25em;
}

.Navigation-Link:visited {
  color: #fff;
}

.Navigation-Link:hover {
  color: #ccc;
}

.Navigation-Button {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: none;
  vertical-align: center;
  align-content: center;
  justify-content: center;
}

.Navigation-Button:hover {
  color: #ccc;
}

.Navigation-Button-Icon {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
  border: none;
  align-self: center;
  justify-content: center;
  font-size: 1.25em;
  margin-left: 0.25em;
}

.Navigation-Button-Icon-Alt {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  border: none;
  align-self: center;
  justify-content: center;
  font-size: 1.5em;
  margin-left: 0.25em;
}

.Navigation-Button-Icon:hover {
  color: #ccc;
}

.navbar {
  border-bottom: 1px #888 solid;
  color: #eee;
}

.navbar-toggler {
  margin-right: 10px;
  color: #eee;
}

.navbar-collapse {
  text-align: right;
  padding: 1em;
  color: #eee;
}

.Brand-Items b {
  margin-left: 10px;
}

.Brand-Items p {
  margin: 0 10px 10px;
}

.Expanding-Nav-Link-Icon {
  margin-left: 1em;
  color: #eee;
}

/*
    Page layout styles
 */

.Content {
  background-color: #f3f3f3;
  font-size: 1.5em;
  color: #555;
}

.Content-Centered {
  margin: auto;
  width: 75%;
  min-width: 350px;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Content-Card {
  background-color: rgba(131, 99, 66, 0.1);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  width: 100%;
  padding: 1em;
}

/*
    Button and link styles
 */

.btn-flat {
  background-color: #555;
}

.paste-button {
  padding-left: 0.75em;
  padding-right: 0.5em;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  align-content: center;
  justify-content: center;
  font-size: 14pt;
}

.button-icon {
  font-size: 1.25em;
  padding-bottom: 0.175em;
  margin-left: 0.5em;
}

.shorten-button {
  margin: auto auto auto 1em;
  padding: 0;
  color: #fff;
  background-color: #888;
}

.Link {
  color: #fff;
  text-align: left;
}

.Link:hover {
  color: #ccc;
}

/*
    URL entry card styles
 */

.QR-Area {
  align-self: center;
  text-align: center;
}

.error-text {
  color: #d36666;
}
