.App {
  text-align: left;
}

.App b {
  margin-bottom: 1em;
}

.App p {
  text-align: left;
  margin-bottom: 1em;
}

.Navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
}

.Navigation-Content {
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  width: 75%;
  min-width: 350px;
  max-width: 800px;
}

.Navigation-Link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1.5em;
  padding: 10px 0.5em;
}

.Navigation-Link:visited {
  color: #fff;
}

.Navigation-Link:hover {
  color: #fff;
}

.Navigation-Button {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  padding: 10px 0.5em;
}

.Navigation-Button:hover {
  background-color: #333;
}

.Content {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content-Body {
  width: 75%;
  min-width: 350px;
  max-width: 800px;
  padding: 0.5em;
}

.btn {
  margin-left: 1em;
}

.form-select {
  margin-left: 1em;
}

.url-form {
  display: flex;
  margin-bottom: 1em;
}

.divider {
  width: 120%;
  margin-left: -10%;
  margin-top: 2em;
  margin-bottom: 2em;
  align-self: center;
  justify-self: center;
  height: 1px;
  background-color: #888;
}

.shorten-button {
  color: #fff;
  background-color: #888;
}

.Link {
  color: #ffffff;
  text-align: left;
}
